

/* combinador : descendência 
div.minhanamorada a {
    background-color: green;
}

 mesma coisa, redundante 
.minhanamorada a {
    background-color: green;
}  */

/* seletor de filho é > */

div.minhanamorada > a {
    background-color: red;
}